[submodule ".vim/bundle/ale"]
  path = .vim/bundle/ale
  url = git://github.com/dense-analysis/ale
[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/plugged/vim-fugitive
  url = git://github.com/tpope/vim-fugitive
